<!DOCTYPE html>
<html>
<head>
        <title>Midterm Practice</title>
        <link href="../static/Style.css" rel="stylesheet" />
        <link href="../static/history.css" rel="stylesheet" />
        <link href="https://fonts.google.com/share?selection.family=Noto+Serif+KR:wght@200..900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    </head>
    <body>
        <div class="header">
            <div class="logo">
              <img src="../static/pictures/YMK%20로고.png" alt="Clickable Image" id="logoimg" style="cursor: pointer;" width="180" height="80">
            </div>

            <nav class="navbar">
              <ul class="menu-bar">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('intro') }}">소개</a></li>
            <li><a href="{{ url_for('history') }}">역사</a></li>
            <li><a href="{{ url_for('qna') }}">게시판</a></li>
              </ul>
            </nav>
          </div>
    <div class="top_level">
            <ul class="top_information">
            </ul>
    </div>

<h1>YMK History</h1>

<div class="timeline-container">
  <div class="timeline-line"></div>

  <div class="timeline-track">
    <div class="timeline-item active" data-target="event2016">
      <div class="circle"></div>
      <div class="label">2016</div>
    </div>
    <div class="timeline-item" data-target="event1915">
      <div class="circle"></div>
      <div class="label">1915</div>
    </div>
    <div class="timeline-item" data-target="event1957">
      <div class="circle"></div>
      <div class="label">1957</div>
    </div>
    <div class="timeline-item" data-target="event1990">
      <div class="circle"></div>
      <div class="label">1990</div>
    </div>
    <div class="timeline-item" data-target="event2000">
      <div class="circle"></div>
      <div class="label">2000</div>
    </div>
  </div>
</div>

<div id="event2016" class="content-section active">
  <h3>2016: YMK Established</h3>
  <p>Korea’s first modern hospital, Gwanghyewon, was established as a royal medical institution.</p>
</div>

<div id="event1915" class="content-section">
  <h3>1915: Chosun Christian College Founded</h3>
  <p>The predecessor of Yonsei University was founded under the name Chosun Christian College.</p>
</div>

<div id="event1957" class="content-section">
  <h3>1957: Yonsei University is Born</h3>
  <p>Yonhi College and Severance Medical School merged to form Yonsei University.</p>
</div>

<div id="event1990" class="content-section">
  <h3>1990:</h3>
  <p>...</p>
</div>

<div id="event2000" class="content-section">
  <h3>2000:</h3>
  <p>...</p>
</div>

<section class="feature-section">
  <div class="feature-container">
    <div class="feature-image">
      <img src="../static/pictures/주한 수정 사진.png" alt="Image Here" />
    </div>
    <div class="feature-text">
      <h2>임크 대표</h2>
      <p></p>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container reverse-layout">
    <div class="feature-text">
      <h2>송도 대표</h2>
      <p></p>
    </div>
    <div class="feature-image">
      <img src="../static/pictures/진하 수정 사진.png" alt="Image Here" />
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container">
    <div class="feature-image">
      <img src="../static/pictures/연제 수정 사진.png" alt="Image Here" />
    </div>
    <div class="feature-text">
      <h2>회계</h2>
      <p></p>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container reverse-layout">
    <div class="feature-text">
      <h2>서기</h2>
      <p></p>
    </div>
    <div class="feature-image">
      <img src="../static/pictures/요한 수정 사진.png" alt="Image Here" />
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container">
    <div class="feature-image">
      <img src="../static/pictures/아론 수정 사진.png" alt="Image Here" />
    </div>
    <div class="feature-text">
      <h2>공지</h2>
      <p></p>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container reverse-layout">
    <div class="feature-text">
      <h2>미디어 & 인스타</h2>
      <p></p>
    </div>
    <div class="feature-image">
      <img src="../static/pictures/김예진 수정 사진.png" alt="Image Here" />
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container">
    <div class="feature-image">
      <img src="../static/pictures/찬혁 수정 사진.png" alt="Image Here" />
    </div>
    <div class="feature-text">
      <h2>송도임원</h2>
      <p></p>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container reverse-layout">
    <div class="feature-text">
      <h2>임형언니</h2>
      <p></p>
    </div>
    <div class="feature-image">
      <img src="../static/pictures/시온 수정 사진.png" alt="Image Here" />
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container">
    <div class="feature-image">
      <img src="../static/pictures/영광 수정 사진.png" alt="Image Here" />
    </div>
    <div class="feature-text">
      <h2>임형언니</h2>
      <p></p>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="feature-container reverse-layout">
    <div class="feature-text">
      <h2>아카이브</h2>
      <p></p>
    </div>
    <div class="feature-image">
      <img src="../static/pictures/예준 수정 사진.png" alt="Image Here" />
    </div>
  </div>
</section>

<div class="timeline">
    <div class="entry">
      <div class="founder">설립자</div>
      <div class="name">조나단</div>
      <div class="info">(14 수학과)</div>
    </div>
    <div class="entry">
      <div class="label">2016 ~ 2017</div>
      <div class="name">안정빈</div>
      <div class="info">(16 NSE & 컴퓨터공학과)</div>
    </div>
    <div class="entry">
      <div class="label">2018</div>
      <div class="name">황혜진</div>
      <div class="info">(17 IS)</div>
    </div>
    <div class="entry">
      <div class="label">2019-1</div>
      <div class="name">강하은</div>
      <div class="info">(17.5 사회복지학과 & 생물학과)</div>
    </div>
    <div class="entry">
      <div class="label">2019-2</div>
      <div class="name">전한나</div>
      <div class="info">(18 국제통상)</div>
    </div>
  </div>

  <h2 class="timeline-bottom-title">YMK 설립자 & 역대 대표</h2>

  <div class="timeline timeline-bottom">
    <div class="entry">
      <div class="label">2020</div>
      <div class="name">박재완</div>
      <div class="info">(17 QRM)</div>
    </div>
    <div class="entry">
      <div class="label">2021</div>
      <div class="name">김찬주</div>
      <div class="info">(19 노어노문학과)</div>
    </div>
    <div class="entry">
      <div class="label">2022</div>
      <div class="name">강찬모</div>
      <div class="info">(18 NSE & 신소재공학과)</div>
    </div>
    <div class="entry">
      <div class="label">2023</div>
      <div class="name">조믿음</div>
      <div class="info">(19.5 기계공학과 & 컴퓨터과학과)</div>
    </div>
    <div class="entry">
      <div class="label">2024</div>
      <div class="name">임성경</div>
      <div class="info">(22 NSE & 신소재공학과)</div>
    </div>
    <div class="entry">
      <div class="label">2025</div>
      <div class="name">황주한</div>
      <div class="info">(21.5 전기전자공학부)</div>
    </div>
  </div>

<script>
  const items = document.querySelectorAll('.timeline-item');
  const sections = document.querySelectorAll('.content-section');

  items.forEach(item => {
    item.addEventListener('click', () => {
      items.forEach(i => i.classList.remove('active'));
      item.classList.add('active');

      sections.forEach(section => section.classList.remove('active'));
      const target = document.getElementById(item.dataset.target);
      if (target) target.classList.add('active');
    });
  });
</script>
    </body>
</html>